/*#updated_details{*/
/*    padding: 20px;*/
/*    margin: 5px;*/
/*}*/

/*#music{*/
/*    align-items: flex-start;*/
/*}*/
/*.top{*/
/*    align-content: center;*/
/*    background-image: url("/images/green-with-bubbles-bg.jpg");*/
/*}*/
body{
    background-image: url("/images/white-apple-Magic-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}